<div>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Pr. Cross fit" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceAll" multiTemplateDataRows matSort (matSortChange)="sortData2($event)">

      <!-- Pocetak -->
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Početak </th>
        <td mat-cell *matCellDef="let row">
          {{row.startTime | date: "dd.MM.yyyy HH:mm"}}
        </td>
      </ng-container>

      <!-- Kraj -->
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kraj </th>
        <td mat-cell *matCellDef="let row">
          {{row.endTime | date: "dd.MM.yyyy HH:mm"}}
        </td>
      </ng-container>

      <!-- Lokacija -->
      <ng-container matColumnDef="gym">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lokacija </th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/gym', row.gym]">
            <!-- {{getGymName(row.gym)}} -->
            Info o lokaciji
          </a>
        </td>
      </ng-container>

      <!-- Naziv treninga -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv treninga </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Trener -->
      <ng-container matColumnDef="trainer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trener </th>
        <td mat-cell *matCellDef="let row">
          <!-- <a [routerLink] = "['/profile', getTrainerUser(row.trainer)]"> -->
          {{getTrainerName(row.trainer)}}
          <!-- </a> -->
        </td>
      </ng-container>

      <!-- Tezina -->
      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Težina </th>
        <td mat-cell *matCellDef="let row"> {{row.difficulty}} </td>
      </ng-container>

      <!-- Slobodno mesta -->
      <ng-container matColumnDef="currentSpots">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Slobodno mesta </th>
        <td mat-cell *matCellDef="let row"> {{row.maxSpots - row.currentSpots}} </td>
      </ng-container>

      <!-- Tip treninga -->
      <ng-container matColumnDef="trainingType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tip treninga </th>
        <td mat-cell *matCellDef="let row"> {{row.trainingType}} </td>
      </ng-container>

      <!-- Cena -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
        <td mat-cell *matCellDef="let row"> {{row.price}}RSD </td>
      </ng-container>

      <ng-container *ngIf="client" matColumnDef="buttonApply">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button style="background-color: #333333; color: white;" (click)="applyToWorkout(row)"
            [disabled]="isApplied(row)">
            Prijavi se
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let workout" [attr.colspan]="displayedColumnsAll.length">
          <div class="example-element-description"
            [@detailExpand]="workout == expandedElement ? 'expanded' : 'collapsed'">
            <div class="details">
              <div> {{workout.description}} </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAll;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4"> Nema treninga sa traženim kriterijumom "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [length]="noOfWorkouts" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>