table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%; /*12.5*/
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-description {
  overflow: hidden;
  display: flex;
}

.details {
  padding: 8px;
  /* font-weight: lighter; */
  margin: 8px 0;
  height: 90px;
}