.example-card {
    max-width: 300px;
    max-height: 500px;
    margin-left: 40rem;
    margin-top: 10rem;
    background-color: #333333;
}
.card-body{
    background-color: white;
    color:  black;
}

mat-card-actions{
    margin-left: 15px;
}