mat-card-title{
    text-align: center;
    margin-top: 5px ;
    color: black(105, 71, 253); 
    background-color: cornsilk;
    border-radius:50%;
}
mat-card-content{
    
    background-color: #FFFFF0;
    color:  black;
    
    padding-left: 15px;
    padding-right: 15px;
    
    border-radius: 2%;
    height: 800px;
}

mat-accordion{
    margin-bottom: 5px;
}
mat-accordion button{
    background-color:cornsilk ;
}

.info{
    margin-top: 10rem;
    height: 700px;
}


#workoutUpd{
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    margin-left: 15rem;
    margin-top: 3rem; 
    background-color: #A9A9A9;
    color:black;
    border-radius: 10%;
    border: 1px solid black; 
    height: 900px;  
    width: 1000px;
}