/* healdine */
.headline{
  background: #222831;
  padding: 10px 10px;
  border-top-left-radius: 10px;
  margin-right: 0px;
}
.profile-pic{
  height: 45px;
  width: 45px;
  border-radius: 10px;
}

.headline-i{
  vertical-align: center;
  margin-top: 8px;
  font-size: 30px;
  margin-left:10px;
  margin-right:10px;
  transition: 0.5s;
  color: whitesmoke;
  float:right;
}

.headline-i:hover{
  color: turquoise;
  cursor: pointer;
}

/* searchbar */
.search{
  background-color: #393e46;
  padding: 2.5px 2px;
}

.search-input{
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
}

.search-input-i{
  color:white;
  padding-bottom: 4px;
  padding-right: 5px;
  vertical-align: middle;
}

.search-input-text{
  border: none;
  padding-left:5px;
  text-indent: 5px;
  width: 85%;
  border-radius: 10px;
}

.search-input-text::placeholder{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  padding-right: 10px;
}

/* chat-headers */

.chat-headers{
  height:500px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: turquoise #eeeeee;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background-color: #eeeeee;
  border-left: white;
}

.chat-header{
  padding: 10px 10px;
  margin-top: 0px;
  transition: 0.8s cubic-bezier(0.1, 0.610, 0.355, 0.6);
  display:flex;
  vertical-align: baseline;
}

.chat-header:hover{
  background-color: turquoise;
}

.chat-header-text{
  margin-left: 5px;
  width: 75%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.chat-header-room-name{
  text-align: center;
  padding-left: 10px;
  max-width: 80%;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-header-username{
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-header-last-message{
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 1px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-header-time{
  float:right;
  margin-left: 0px;
}

.chat-header-breakline{
  margin-top: 3px;
  margin-bottom: 3px;
  width: 80%;
}

.profile-pic-smaller{
  height: 40px;
  width: 40px;
  border-radius: 10px;
  margin-top: 30px;
}

/* newRoom-overlay */

.hidden{
  display: none;
  opacity: 0;
}

.show{
  animation-duration: 0.5s;
  animation-name: slidein;
  display: block;
}


.newRoom-overlay{
  height:500px;
}

@keyframes slidein {
  from {
    margin-top: 80%;
    width: 100%;
    opacity: 0;
  }

  to {
    margin-top: 0%;
    width: 100%;
    opacity: 100;
  }
}
