
<mat-grid-list cols="4" class="page">
  <!-- New status  -->
  <mat-grid-tile [colspan]="3" [rowspan]="1">

      <!-- TODO: Disable button until field is filled -->
      <mat-card class="new-status">
        <mat-card-content>
          <textarea placeholder="..." class="new-status-area" [(ngModel)] = "currentStatus"></textarea>
          <button mat-raised-button class="new-status-button" (click)= "sendStatus()">Podeli status</button>
        </mat-card-content>
      </mat-card>

  </mat-grid-tile>

  <!-- Mini profile display -->
  <mat-grid-tile [colspan]="1" [rowspan]="2">
   
    <mat-card class="mini-profile border border-dark rounded mb0">
      <mat-card-header>                                                                     <!-- class = "mini-profile-header" -->
        <div mat-card-avatar class="profile-image"></div>
        <mat-card-title>{{currentUser.firstName}} {{currentUser.lastName}}</mat-card-title>
        <mat-card-subtitle>{{currentUser.username}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p> <strong> Email: </strong> {{currentUser.email}} </p>

        <div>
          <label for="sub"> <strong>Osobe koje pratite: </strong> </label>
          <cdk-virtual-scroll-viewport itemSize="50" class="subscribed border border-dark rounded mb0">
            <div *ngFor="let subsTo of subscribedTo">
              <a [routerLink] = "['/profile', subsTo.username]">
                {{subsTo.username || 'Loading...'}}
              </a>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      
        <div>
          <label for="followers"> <strong> Osobe koje Vas prate: </strong> </label>
          <cdk-virtual-scroll-viewport itemSize="50" class="subscribed border border-dark rounded mb0">
            <div *ngFor="let f of followers">
              <a [routerLink] = "['/profile', f.username]">
                {{f.username || 'Loading...'}}
              </a>            
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <!-- List of statuses -->
  <mat-grid-tile [colspan]="3">
    <div *ngIf="info; else noSubs">
    <cdk-virtual-scroll-viewport itemSize="50" class="statuses border border-dark rounded mb0">
      <div *ngFor="let stat of statuses">
        <mat-card>
          <mat-card-header style="background-color: #333333;"> 
            <mat-card-title style="color: white;"> {{getUserName(stat._id)}} </mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <p> {{stat.date | date:"dd.MM.yyyy HH:mm"}} </p>
              <p> {{stat.content}} </p>
              <mat-divider></mat-divider>
          </mat-card-content>
        </mat-card>
      </div>   
    </cdk-virtual-scroll-viewport>
    </div>
    
    <ng-template #noSubs>
      <div *ngIf="subsExist; else noS"> 
        Osobe koje pratite još uvek nisu objavile nijedan status!
      </div>
      <ng-template #noS>
        Zapratite nekoga kako biste videli njihove statuse!
      </ng-template>
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
